html {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    text-align: center;
    font-size: 22px;
}

header {
    opacity: 0.9;
    width: 100%;
    height: 69px;
    background-color: black;
    position: fixed center;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    align-items: center;
}

#logo {
    margin-left: 10px;
    height: 50px;
}

nav {
    margin-right: 10px;
}

ul li {
    text-decoration: underline;
    margin: 10px;
    display: inline-block;
}

section {
    position: relative center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#banner {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#overlaytext {
    background-color: black;
    width: 100%;
}
